.logo {
    height: 40px;
}

.logo img {
    width: 100%;
}

.returnal-bg {
    background-image: url("/assets/img/jumbo-bg.png");
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
      
}


