.logo {
    height: 35px;
}

.logo img {
    width: 100%;
}

.dropdown {
    position: static;
}

.dropdown-menu {
    border: none;
    border-radius: 0;
}

.dropdown-menu.show {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.dropdown-menu[data-bs-popper] {
    margin-top: 0;
    width: 100%;
}

.dropdown-item img {
    display: block;
    width: 100%;
}

.dropdown-item {
    text-align: center;
}

.returnal-bg {
    background-image: url("/assets/img/jumbo-bg.png");
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
      
}

.toolkit {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.tools {
    width: calc(100% / 5);
}

.takes-bg {
    background-image: url("/assets/img/it-takes-two-hero-banner-desktop.jpg");
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
      
}
